@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#root {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Inter', sans-serif !important;
}

.heading {
  font-size: 3em !important;
}

.lh-1 {
  line-height: 1em;
}

.lh-1_5 {
  line-height: 1.2em;
}

.lh-5 {
  line-height: 5em;
}

.lh-09 {
  line-height: 0.9em;
}

.container {
  padding: 1em;
  padding-bottom: 0;
}

.margin-right {
  margin-right: 0.2em;
}

.btn-label {
  margin-left: 0.3em;
  vertical-align: middle;
}

.realign-icon {
  transform: translateY(-0.12em) translateX(-0.005em);
}

.icon-question {
  font-size: 10em;
  color: grey;
  margin-bottom: -0.15em;
  margin-top: -0.15em;
}

.header-subreddit-label {
  color: green;
}

.unknown-post-type-link {
  padding-bottom: 0.5em;
}

a:hover {
  background-color: rgba(0, 81, 255, 0.176);
}

.video-post-indicator {
  font-size: 1.1em;
  margin-top: -9pt;
  margin-bottom: 0.5em;
}

.video-post-indicator-link {
  color: blue;
}

.upvote-btn {
  background-color: green;
}

.upvote-btn:active {
  background-color: #008000FF;
}

.open-external {
  background-color: grey;
}

.open-external:active {
  background-color: #808080;
}

.post-subheading {
  margin-top: -11pt;
  margin-bottom: 5pt;
  margin-left: 0.5pt;
}

a:visited {
  color: blue;
}

.container-center {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.container-center-nm {
  display: flex;
  justify-content: center;
}

.container-vertical-center {
  width: 270px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -135px;
}

ons-card {
  width: 100;
}

.post {
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.1em;

  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);

  transition: background-color 100ms ease-in;
}

.img-round {
  border: 10px;
}

.zindex-back {
  z-index: 1;
}

.zoom-in {
  transition: transform 150ms ease-out, box-shadow 150ms ease-out, margin 150ms ease-out;
  z-index: 2 !important;
}

.zoom-in:active, .zoom-in:focus {
  transform: scale(105%);
  margin: 0.2em 0 1em 0;
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.4);
  z-index: 2 !important;
}

.toolbar {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.165);
}

.bg-obstruct {
  background-color: rgba(0, 0, 0, 0.388);
}